<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <body>
  <div class="center jumbotron">

    <h2>コロナ対策グッズの事前予約システム</h2>

    <h3>
      マスク・ハンドソープ・殺菌グッズ
    </h3>

    <%= link_to "新規登録 ストア", store_signup_path, class: "btn btn-default btn-info" %>
    <%= link_to "新規登録 消費者", customer_signup_path, class: "btn btn-default btn-info" %>
    <%= link_to "ログイン", login_path, class: "btn btn-default btn-primary" %>
  </div>
  </body>
</html>

