<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <body>
  <div class="center jumbotron">

    <h2>コロナ対策グッズの事前予約システム</h2>

    <h3>
      This is the home page for the
      <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
      sample application.
    </h3>

    <%= link_to "新規登録", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
  </body>
</html>

