<% if @customer_user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      フォームには <%= pluralize(@customer_user.errors.count, "個のエラーがあります") %>.
    </div>
    <ul>
      <% @customer_user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>