<% provide(:title, "Products") %>
<div class="row">
  <div class="col-md-4">
    <section class="products_form">
      <%= render 'shared/products_form' %>
    </section>
  </div>
  <div class="col-md-8">
    <%= render 'shared/feed' %>
  </div>
</div>